[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oauth2client = "*"
httplib2 = "*"
google-api-python-client = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
